<div style="height: 4px; background-image: linear-gradient(to left, #fedc40, #f75d8b); background-color: white;"></div>
<div style="margin-bottom: 15px;"></div>
<footer class="container d-flex align-items-center">
  <div class="row align-items-center">
    <div class="col-auto">
      <%= image_tag 'ACM logo.png', class: 'img-fluid', style: 'width: 50px; height: 60px;' %>
    </div>
    <div class="col">
      <h4 class="text-orange pt-3 font-weight-light" style="color: orange; white-space: nowrap;">Animal Care Matching</h4>
    </div>
   
   <!-- スペースを追加 --> 
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
     <div class="col"></div>  
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
     <div class="col"></div>  
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
     <div class="col"></div>  
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
     <div class="col"></div>    
     <div class="col"></div> 
     <div class="col"></div> 
    <div class="col-10"></div> 
 </div>
 
  <div class="col-lg-3 text-left">
    <div>
      <a href="#" style="text-decoration: underline; color: orange; display: block;">お問い合わせ</a>
    </div>
    <div>
      <a href="#" style="text-decoration: underline; color: orange; display: block;">利用規約</a>
    </div>
    <div>
      <a href="#" style="text-decoration: underline; color: orange; display: block;">プライバシーポリシー</a>
    </div>
  </div>
</footer>

<div style="height: 3px; background-color: #952222;"></div>
<div style="height: 15px; background-color: #952222; display: flex; align-items: center; justify-content: center;">
  <span style="color: white; font-weight: light; font-size: 12px;">@ 2023 ANIMAL CARE MATCHING. ALL RIGHTS RESERVED.</span>
</div>
