<div style="height: 4px; background-image: linear-gradient(to left, #fedc40, #f75d8b); background-color: white;"></div>
<div style="margin-bottom: 30px;"></div>
<footer class="container">
  <div class="row align-items-center">
    <div class="d-flex justify-content-between">
      <div class="col-auto">
        <%= image_tag 'ACM logo.png', class: 'img-fluid', style: 'width: 50px; height: 60px;' %>
      </div>
      <div class="col">
        <h4 class="text-orange pt-3 font-weight-light" style="color: orange; white-space: nowrap;">Animal Care Matching</h4>
      </div>
  
      <div class="col-md-4">
        <div class="text-start">
          <div>
            <a href="#" style="text-decoration: underline; color: orange; display: block;">お問い合わせ</a>
          </div>
          <div>
            <a href="#" style="text-decoration: underline; color: orange; display: block;">利用規約</a>
          </div>
          <div>
            <a href="#" style="text-decoration: underline; color: orange; display: block; white-space: nowrap;">プライバシーポリシー</a>
          </div>
        </div>             
      </div>
   
      
    </div>

  </div>
</footer>

<div style="height: 3px; background-color: #952222;"></div>
<div style="height: 30px; background-color: #952222; display: flex; align-items: center; justify-content: center;">
  <span style="color: white; font-weight: light; font-size: 12px;">@ 2023 ANIMAL CARE MATCHING. ALL RIGHTS RESERVED.</span>
</div>
